body {
    background-color: #f6e8c5;
    margin: 0;
    box-sizing: border-box;   
    position: relative;
}

.noise {
    background-image: url('noise.jpg');
    background-repeat: repeat;
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 15%;
    top:0;
    z-index: 0;
}

body::after {
    content: "";
    background-image: url('noise.jpg');
    background-repeat: repeat;
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 15%;
    top:0;
    pointer-events: none;
}

.main {
    padding: 0px;
    
    margin: auto;
    position: relative;
    min-width: 520px;
    max-width: 1100px;
    width: calc(100% - 30vw);

}

a {
    text-decoration: none;
    color: inherit;
}

.toolbar {
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0; 
    margin: 0;
    
}
.toolbar-button {
    background-color: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.text-decoration:hover {
    text-decoration: underline;
}

.header {
    position: relative;

    height: 500px;
    
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;

    padding: 10px;
    
    font-family: 'Apple Garamond Light', 'Times New Roman', Times, serif;

    background-image: url("cloud.png");
    background-position: center; /* Center the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */

    
    animation-name: cloudsanim;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    background-size: 105% 105%;

    animation-iteration-count: 1;

    z-index: 1;

   
}

.bottom {
    position: absolute;
    bottom: 0;
}
    

.header .title {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    color: black;
}
.header h1 {
    font-weight: bold;
    font-size: 10vh;
    margin: 0;
}
.header .info {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 2.4vh;
    max-width: 100%;
    box-sizing: border-box;
}

.header .links p {
    padding: 0;
    margin: 0;
    margin-left: 50px;
    
}
.content {
    max-width: 1100px;
    width: calc(100% - 164px);
    min-width: 500px;

    margin: auto;
    padding: 10px;
    font-size: 14pt;
    z-index: 1;
}

.block {
    font-family: 'Apple Garamond', sans-serif;
    
    
}
.block h2 {
    font-size: 22pt;
}
.block p {
    margin-left: 16pt;
    
}
.publication {
    margin-bottom: 5px;
    margin-left: 10px;

}

.publication p {
    margin: 0;
}

@keyframes cloudsanim {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 105% 105%;
    }
}

@media screen and (max-width: 1080px) {

    .content {
        
        min-width: 100%;
        box-sizing: border-box;
    }
    .block p {
        margin-left: 10px;
        margin-right: 10px;
    }   
}
@media screen and (max-width: 850px) {
    .header {
        width: 100vw;
        margin: 0;
        margin-top: 0px;
        padding:0;
        min-width: 0px;
        
    }
    .main {
        min-width: 100vw;
    }

    .content {
        max-width: 100vw;
        min-width: 100vw;
    }
}
